.tours-list-container {
  width: 700px;
  margin: 0 auto;
  padding-top: 25px;
  box-sizing: border-box;
}

.tours-list-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

@media (max-width: 750px) {
  .tours-list-container {
    width: 100%;
    max-width: 700px;
    padding: 25px 16px;
  }
  
  .tours-list-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media (max-width: 550px) {
  .tours-list-container {
    padding: 20px 12px;
  }
  
  .tours-list-grid {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}

